@model PagedList.IPagedList<ServiceHub.Model.ServiceProvider>

@using PagedList.Mvc
@{

    ViewBag.Title = "Service Providers";
}
@section scripts
{

    <script>

        $(document).ready(function () {
            $("#Tags").select2();
            $("#Locations").select2();
            //searchString
        });

    </script>

}
@using (Html.BeginForm("List", "ServiceProvider", FormMethod.Post))
{

    @Html.Label("Search")
    @Html.TextBox("SearchString")

    @Html.Label("Service Type Tags")
    @Html.ListBox("Tags", (MultiSelectList)ViewBag.TagLookup, new { Multiple = "multiple", style = "width:300px" })

    @Html.Label("Working Area")
    @Html.ListBox("Locations", (MultiSelectList)ViewBag.LocationLookup, new { Multiple = "multiple", style = "width:300px" })



    <input id="submit" type="submit" value="Apply" />


    <div class="table">
        <div class="row headerRow">
            <div></div>

            <div>Name</div>

            <div>Contact Number</div>

            <div>Rating</div>

            <div>Tags</div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row">
                <div><img src="@Url.Content("~/ServiceProvider/Thumbnail?serviceProviderId="+item.ClientId)" /></div>

                <div>@Html.DisplayFor(o => item.Client.Name)</div>

                <div>@Html.DisplayFor(o => item.Client.ContactNumber)</div>

                <div>@Html.DisplayFor(o => item.Rating)</div>

                <div>@string.Join(", ", item.Tags.Select(i => i.Title).ToArray())</div>
            </div>

        }
    </div>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("List",
                            new { page, searchString = ViewBag.CurrentSearchString, locations = ViewBag.CurrentLocations, tags = ViewBag.CurrentTags }))

