@model ServiceHub.Website.Models.BidAcceptanceViewModel
@{
    ViewBag.Title = "Bid Acceptance";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            $('.openCancelDialogButton').on("click", function () {
                var dataId = $(this).closest(".row").attr("data-userid");
                $("#CancelDialog .modal-body #UserId").val(dataId);

            });

            $('#CancelDialog .btn-primary').on("click", function () {
                $("#CancelDialog").modal('hide');
               
            });

            $('.openRateDialogButton').on("click", function () {
                var dataId = $(this).closest(".row").attr("data-userid");
                $("#RateDialog .modal-body #UserId").val(dataId);

            });

            $('#RateDialog .btn-primary').on("click", function () {
                $("#RateDialog").modal('hide');

            });
        });


    </script>


}

@section styles
{

    <style>
        .blur {
            background-color: rgba(255,0,0,0.5);
        }

        .col-fixed {
            width: 200px !important;
        }

        .center {
            text-align: center;
        }
    </style>
}

<div class="row">
    <div class="col-lg-4 ">
        <div>
            @Html.LabelFor(o => o.ServiceViewModel.Reference):
            @Html.DisplayFor(o => o.ServiceViewModel.Reference)
        </div>

        <div>
            @Html.LabelFor(o => o.ServiceViewModel.Description):
            @Html.DisplayFor(o => o.ServiceViewModel.Description)
        </div>
        <div>
            @Html.LabelFor(o => o.ServiceViewModel.AdditionalInfo):
            @foreach (var additionalInfo in Model.ServiceViewModel.AdditionalInfo)
            {
                @Html.Display(additionalInfo)
            }
        </div>

    </div>
    <div class="col-lg-4 ">

        <div>
            @Html.LabelFor(o => o.ServiceViewModel.Location):
            @Html.DisplayFor(o => o.ServiceViewModel.Location)
        </div>
        <div>
            @Html.LabelFor(o => o.ServiceViewModel.ServiceTag):
            @Html.DisplayFor(o => o.ServiceViewModel.ServiceTag)
        </div>
        <div>
            @Html.LabelFor(o => o.ServiceViewModel.ServiceDate):
            @Html.DisplayFor(o => o.ServiceViewModel.ServiceDate)
        </div>

        <div>
            @Html.LabelFor(o => o.ServiceViewModel.BiddingCompletionDate):
            @Html.DisplayFor(o => o.ServiceViewModel.BiddingCompletionDate)
        </div>

    </div>
</div>
@Html.HiddenFor(o => o.ServiceViewModel.ServiceId)

@Html.Partial("_BidAcceptanceServiceProviders", Model)