@model IEnumerable<ServiceHub.Website.Models.MyBidItem>

<div class="table">
    <div class="row headerRow">
        <div>Bidding Completion</div>

        <div>Estimated Service Due</div>

        <div>Highest Bid</div>

        <div>My Highest Bid</div>

        <div>Service Reference</div>

        <div></div>

    </div>
    @foreach (var item in Model.Where(o => !o.IsCompleted))
    {
         <div class="row">

            <div>@Html.DisplayFor(o => item.BiddingCompletionDate)</div>

            <div>@Html.DisplayFor(o => item.ServiceDue)</div>

            <div>@Html.DisplayFor(o => item.HighestBid)</div>

            <div>@Html.DisplayFor(o => item.MyHighestBid)</div>

            <div>@Html.ActionLink(item.Reference, "ServiceBid", "ServiceProvider", new { serviceId = item.ServiceId }, null)</div>

            <div>@Html.ActionLink("Cancel Bid", "CancelBid", "ServiceProvider", new { serviceId = item.ServiceId }, null)</div>


        </div>

    }
</div>
