@model IEnumerable<ServiceHub.Website.Models.MyBidItem>

<div class="table">
    <div class="row headerRow">
        <div>Bidding Completion</div>

        <div>Estimated Service Due</div>

        <div>Lowest Bid</div>

        <div>My Lowest Bid</div>

        <div>Service Reference</div>

        <div>Status</div>

    </div>
    @foreach (var item in Model.Where(o => o.IsCompleted))
    {
        
         <div class="row">

            <div>@Html.DisplayFor(o => item.BiddingCompletionDate)</div>

            <div>@Html.DisplayFor(o => item.ServiceDue)</div>

            <div>@Html.DisplayFor(o => item.LowestBid)</div>

            <div>@Html.DisplayFor(o => item.MyLowestBid)</div>

            <div>@Html.DisplayFor(o => item.Reference)</div>

            <div>@Html.DisplayFor(o => item.Status)</div>

        </div>
      

    }
</div>
